h1{
    color: navy;
    font-size: 45px;
    font-weight: bold;
    /* font-style: italic; */
    /* text-align:center; */
}
  
h2{
    /* color:lightcyan; */
    font-size: 22px;
    text-align:left;
}

h3{
    color:black;
    font-size: 15px;
    /* text-decoration: underline; */
    /* font-style: italic; */
    text-align:left;
}

body {
    width: 100%;
    min-height:100%;
    background-color: white;
}

img {
    max-width: 100%;
}
